<div class="row">
    <div class="span3 offset4">
        <h1>Listing posts</h1>
    </div>
  <div class="btn">
    <%= link_to 'New post', :action => :new %>
  </div>
</div>

<% @posts.each do |post| %>
    <h3>Post <%= post.id %> </h3>
    Title : <%= post.title %> <%= link_to 'Show', :action => :show, :id => post.id %>
    <br/>
    Text : <%= post.text %> <%= link_to 'Edit', :action => :edit, :id => post.id %>
    <%= link_to 'Destroy', { :action => :destroy, :id =>post.id }, :method => :delete, :confirm => 'Are you sure?' %>

<% end %>
