<!DOCTYPE html>
<html>
<head>
  <title>Blooog^_^</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
    <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="row">
        <div class="span5 offset2">
        <div class="nav">
          <li><a href="/#"><i class="icon-home"><p class="text-info">Home</p></i></a></li><li class="divider-vertical"></li>
          <li><a href="/posts"><i class="icon-list-alt"><p class="text-info">Listing posts</p></i></a></li><li class="divider-vertical"></li>
          <li><a href="/posts/new"><i class="icon-pencil"><p class="text-info">Create new post</p></i></a></li><li class="divider-vertical"></li>
        </div>
        </div>
        <div class="span3 offset2">

            <%= render "shared/links" %>

        </div>
      </div>
          </div>
    </div>

        <div class="container">
        </div>
        </div>
    <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
        </div>
    </body>
</html>
